.TriangleDown {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 32px solid rgb(50, 201, 150);
  display: inline-block;
  position: relative;
}

.TriangleDown:hover {
  border-top: 32px solid rgb(63, 250, 188)
}
