.App {
  font-family: Corbel, corbel, sans-serif;
  background-color: Azure;
  padding: 0px;
  margin-top: 0px;
  text-align: center;
  font-size: 22px;
  color: black;
}

p {
  padding: 20px;
  margin: 0px;
}