.Board {
  margin: 0px;
  padding: 0px;
  height: 200px;
  width: 200px;
  display: inline-block;
  text-align: center;
  
}

.row {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.columnOne {
  position: relative;
  left: 134px;
  display: inline-block;
}
.columnTwo {
  position: relative;
  left: 67px;
  display: inline-block;
}
.columnThree {
  position: relative;
  display: inline-block;
}
.columnFour {
  position: relative;
  right: 67px;
  display: inline-block;
}
.columnFive {
  position: relative;
  right: 134px;
  display: inline-block;
}
