.Display {
  width: 100%;
  height: 1000px;
  text-align: center;
  display: inline-block;
}

.row {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.columnOne {
  position: relative;
  left: 400px;
  display: inline-block;
}
.columnTwo {
  position: relative;
  left: 67px;
  display: inline-block;
}
.columnThree {
  padding: 0px;
  position: relative;
  display: inline-block;
}
.columnFour {
  position: relative;
  right: 67px;
  display: inline-block;
}
.columnFive {
  position: relative;
  right: 134px;
  display: inline-block;
}